{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="col-lg-8">
    <!-- Change Password card-->
    <div class="card mb-4">
        <div class="card-header">{% trans 'Change Password' %}</div>
        <div class="card-body">
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="small mb-1" for="oldPassword">{% trans 'Current Password' %}</label>
                    <input class="form-control" id="oldPassword" type="password" name="old_password" required>
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="newPassword1">{% trans 'New Password' %}</label>
                    <input class="form-control" id="newPassword1" type="password" name="new_password1" required>
                </div>
                <div class="mb-3">
                    <label class="small mb-1" for="newPassword2">{% trans 'Confirm New Password' %}</label>
                    <input class="form-control" id="newPassword2" type="password" name="new_password2" required>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success btn-block" type="submit">{% trans "Change Password" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
