{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<body>
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-lg-0">
                <div class="card-header">{% trans 'Profile Picture' %}</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="قيد عمل" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">{% trans 'in progress now' %}</div>
                    <!-- Profile picture upload button-->
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">{% trans 'Account Details' %}</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">{% trans 'Username' %}</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{ user.username }}" readonly>
                        </div>
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-block" type="submit">{% trans "Save" %}</button>
                            <a href="{% url 'delete_account' %}" class="btn btn-danger btn-block">{% trans "Delete Account" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}